.doctor-section {
  background-image: url("../images/login.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.doctor-container {
  background-color: rgba(85, 85, 85, 0.082);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(1px);
  padding: 30px;
  border-radius: 10px;
  position: relative;
  left: 170px;
}

.doctor-title {
  text-align: center;
  color: rgba(129, 124, 116, 0.993);
  margin-bottom: 40px;
}

.doctor-form {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  gap: 65px;
  margin-bottom: 5px;
}

.form-control,
.select {
  width: 200px;
  padding: 7px;
  border-radius: 10px;
}

.button1:hover {
  color: rgba(0, 0, 0, 0.898);
  background-color: rgba(85, 84, 83, 0.706);
  font-family: 'Times New Roman', Times, serif;
}

.add-button {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background-color: green;
  color: #fff;
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 820px) {
  .doctor-container {
    position: relative;
    left: 140px;
    margin-top: -400px;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(1px);
  }

  .doctor-title {
    position: relative;
    left: -200px;
  }

  .doctor-form {
    position: relative;
    left: -200px;
    display: flex;
    flex-direction: column;
  }
}
