.delete-container {
  width: 80%;
  left: 150px;
  display: flex;
  justify-content: space-evenly;
  gap: 1px;
  margin-top: 50px;
  position: relative;
}

.delete-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.delete-button {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background-color: #f00;
  color: #fff;
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 820px) {
  .delete-container {
    left: 300px;
    display: flex;
    flex-direction: column;
  }
}
