.details-container {
  position: relative;
  left: 400px;
  max-width: 74%;
  margin-top: 70px;
}

@media (max-width: 768px) {
  .details-container {
    position: relative;
    left: 0;
    max-width: 100%;
    margin-top: 80px;
    align-content: center;
  }
}
