.main-doctor-container {
  position: relative;
  left: 280px;
  max-width: 74%;
  margin-top: 70px;
}

.doctors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.doctors1 {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.doctors-images {
  width: 10rem;
  cursor: pointer;
  margin-bottom: 4rem;
  border-radius: 50%;
  border: 2px solid black;
}

.doctors-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-left: 1rem;
}

.close-btn-container:hover {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.doctor-data {
  margin-top: 2rem;
}

.social-net {
  text-align: center;
}

.social-net img {
  margin-right: 0.8rem;
  width: 2rem;
  color: rgb(156 163 175/var(--tw-text-opacity));
}

.doctor-data h4 {
  font-family: 'poppins', sans-serif;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}

.doctor-data p {
  text-align: center;
  margin: 0.7rem 0;

  --tw-text-opacity: 1;

  color: rgb(156 163 175/var(--tw-text-opacity));
  font-weight: 600;
}

.single-image {
  width: 22rem;
}

.header-2 {
  font-size: 1.125rem !important;
  line-height: 1.75rem !important;
  color: rgb(107 114 128/var(--tw-text-opacity)) !important;
}

.details {
  justify-self: end;
}

.image-div {
  width: 10rem;
  height: 10rem;
  padding: 3rem;
  margin-top: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-container {
  width: 100%;
  margin: 0;
  padding-left: 30px;
}

.carousel-container a {
  all: unset;
  cursor: pointer;
}

.react-multiple-carousel__arrow {
  color: #fff;
  display: flex;
  font-size: 0.5rem;
  height: 3rem;
  justify-content: flex-end;
  margin-left: -3.5rem;
  margin-right: -4rem;
  width: 5rem;
  background-color: #0eadbf !important;
}

.react-multiple-carousel__arrow--left {
  border-radius: 0 4rem 4rem 0;
}

.react-multiple-carousel__arrow--right {
  border-radius: 4rem 0 0 4rem;
}

.react-multiple-carousel__arrow::before {
  height: 2rem;
  width: 2rem;
  margin: 1rem 2rem 3rem 0;
  cursor: pointer;
  display: block;
}

@media only screen and (max-width: 820px) {
  .header {
    position: relative;
    width: 10px;
    margin-top: 30px;
  }

  .doctors-li {
    position: relative;
    left: -100px;
  }

  .react-multiple-carousel__arrow--left {
    position: relative;
    margin: 50%;
    left: -10px;
  }
}

@media only screen and (max-width: 540px) {
  .header {
    margin: 80px 80px 0 70px;
    color: black;
  }

  .header-1 {
    white-space: nowrap;
    font-size: 18px;
    display: inline-block;
  }
}
